<div class="jumbotron">
    <h1>Let's eat!</h1>
    <p>Look for place or desired food!</p>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="input-group">
                <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span id="search_concept">Filter by</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#contains">Restaurant</a>
                        </li>
                        <li>
                            <a href="#its_equal">It's equal</a>
                        </li>
                        <li>
                            <a href="#greather_than">Greather than ></a>
                        </li>
                        <li>
                            <a href="#less_than">xxx</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#all">Anything</a>
                        </li>
                    </ul>
                </div>
                <input type="hidden" name="search_param" value="all" id="search_param">
                <input #searchBox type="text" class="form-control" name="x" placeholder="Search term..." (keyup)="doSearch(searchBox.value)">
                <span class="input-group-btn"><button class="btn btn-default" type="button" (click)="doSearch(searchBox.value)">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button></span>
                <div>
                    <div *ngFor="let restaurant of restaurants | async"
                         (click)="gotoDetail(hero)" class="search-result" >
                        {{restaurant.name}} {{restaurant.address}}
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
    <!--</1><p><input type="text" data-pg-id="1390" /> <a class="btn btn-primary btn-lg" href="#" role="button" data-pg-id="1336">om nom nom</a></p>-->
</div>
