<div class="jumbotron">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div>
                <label class="checkbox-inline">
                    <input type="radio" id="inlineCheckbox1" value="place" name="option" checked="checked" (click)="triggerTermSearch(searchBox.value, 'name'); searchBox.value = '';"> search by restaurant name
                </label>
                <label class="checkbox-inline">
                    <input type="radio" id="inlineCheckbox2" value="food" name="option" (click)="triggerTermSearch(searchBox.value, 'address'); searchBox.value = '';"> searching by restaurant address
                </label>
                <label class="checkbox-inline">
                    <input type="radio" id="inlineCheckbox3" value="place" name="option" (click)="triggerTermSearch(searchBox.value, 'food'); searchBox.value = '';"> searching by meal
                </label>
            </div>
            <div class="input-group">
                <input #searchBox type="text" class="form-control" name="x" placeholder="Search for a place or desired food" (keyup)="doSearch(searchBox.value)">
                <span class="input-group-btn"><button class="btn btn-default" type="button" (click)="doSearch(searchBox.value)">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button></span>
            </div>
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
</div>

<!--<button (click)="doSearch(searchBox.value)">LOAD</button>-->
<div *ngFor="let restaurant of restaurants | async">
    <!--[routerLink]="['/detail', restaurant.id]"-->

    <div class="page-header">
        <h2>{{restaurant.name}} <span class="badge"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> {{restaurant.rating}}</span>
            <small>{{restaurant.address}}</small>
        </h2>
    </div>
    <div class="row">

        <div *ngFor="let meal of restaurant.todays_meals" class="col-sm-6 col-md-4">
            <app-meal [meal]="meal"></app-meal>
        </div>
    </div>
</div>


<!--<app-search></app-search>-->
<!--<app-list-results></app-list-results>-->